/*
 Theme Name:  Divi Child Theme
 Theme URI:    https://divilife.com
 Description:  Child Theme for Divi
 Author:       Tim Strifler
 Author URI:   https://divilife.com
 Template:     Divi
 Version:      1.0.0
*/

/*****Add any custom CSS below this line*****/

@media (min-width: 981px)
.et_full_width_portfolio_page #left-area {
    width: 100%!important;
}

.single .et_pb_post {
	margin-bottom: unset !important;
} 

.mfp-title {
	display: none !important;
}


.et_full_width_portfolio_page .et_project_meta {
    display: none!important;
}

#left-area
{ 
	width:100%!important
}
